.reg-form {
    /* Form */
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    padding: 10px 20px;
    width: 400px;
    height: 448px;
    background: #9C9C9C;
    border: 2px solid #626262;
    box-sizing: border-box;
    border-radius: 3px;
}

.reg-form .age {
    align-self: flex-start;
    width: 49%;
}

.reg-form div label {
    height: 16px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #3A3A3A;
}

.reg {
    width: 360px;
    height: 38px;
    left: 20px;
    top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    color: #000000;
}

.reg-form div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.reg-form .rec-1 {
    height: 1px;
    background: #C4C4C4;
    margin: 0 -20px;
}

.reg-form .passwords,
.reg-form .buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

input:not(.buttons input) {
    height: 28px;
    left: 0px;
    right: 0px;
    top: 21px;
    text-indent: 10px;
    background: #FFFFFF;
    border: 1px solid #9C9C9C;
    box-sizing: border-box;
    border-radius: 3px;
}

input::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #CCCCCC;
}

.buttons input[type="submit"] {
    position: relative;
    width: 95px;
    height: 32px;
    background: #616161;
    border: 1px solid #616161;
    box-sizing: border-box;
    border-radius: 3px;
    color: white;
}

.buttons input[type="reset"] {
    width: 74px;
    height: 32px;
    right: 0px;
    top: 0px;
    background: #CCCCCC;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    color: #616161;
}