@font-face {
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
}

label {
    position: absolute;
    left: calc(50% - 70px/2);
    top: calc(50% - 26px/2);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.step-elems button {
    position: relative;
    width: 310px;
    height: 60px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #2EA239 0%, #62FD71 50.52%, #2EA139 100%);
    border: none;
    margin: 5px -2px;
}

button:active,
button:focus {
    outline: 1px solid green;
}

.step-elems button:disabled {
    background: linear-gradient(180deg, #686868 0%, #B3B3B3 50.52%, #686868 100%);
}

.step-elems button:disabled label {
    text-shadow: none;
}

#step3 {
    width: 300px;
}

#step2:before,
#step3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 30px solid transparent;
    border-left: 10px solid white;
}

#step1:after,
#step2:after {
    content: '';
    position: absolute;
    right: -10px;
    top: 0;
    border: 10px solid transparent;
    border-top: 30px solid white;
    border-bottom: 30px solid white;
}